**/npm-debug.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/.pnpm-store

**/node_modules

# Packed packages
/packages/*/package.tgz

**/dist
/.env
/data
/rctf.d/*
!/rctf.d/.keep
/docs/site

# Upload provider dir
/uploads

**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN
/package-lock.json
/.git

**/*.swp

# coverage
**/coverage
