npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store

node_modules

# Packed packages
/packages/*/package.tgz

dist
/.env
/data
/rctf.d/*
!/rctf.d/.keep
/docs/site
/docs/.venv
/packages/server/uploads
!/packages/server/uploads/.keep

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN
/package-lock.json
.idea

*.swp

# coverage
coverage

test-results